{
  "tools": [
    "python",
    "url-get",
    "terminal",
    "meteo-weather"
  ],
  "kwargs": {
    "top_k_results": 2,
    "no_default": false,
    "model_name": "gpt-3.5-turbo"
  }
}
{
  "tools": ["wolfram-alpha"],
  "kwargs": {
      "openai_api_key": "",
      "proxy": "",
      "debug": false,
      "no_default": false,
      "model_name": "gpt-3.5-turbo",
      "wolfram_alpha_appid": "URVEEE-77PTGX83YP"  // sample key
  }
}
{
  "tools": ["wikipedia", ],  // 填入你想用到的额外工具名
  "kwargs": {
      "debug": true, // 当你遇到问题求助时，需要配置
      "request_timeout": 120,  // openai接口超时时间
      "no_default": false,  // 是否不使用默认的4个工具
      // 带*工具需要申请api-key，在这里填入，api_name参考前述`申请方法`
  }
}
